.about{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.about h2{
    font-size: 45px;
}

.about-left {
    border: 1px solid #282825;
    height: 400px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    /* clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0); */
    background-color: rgb(214, 54, 179);
    
    /* z-index: 22; */
    box-shadow: 3px 3px #282825;
}
/* .about-left img{
    border: 2px solid rgb(58, 52, 52);
    height: 350px;
    width: 300px;
    border-radius: 15px;
} */


.about-right{
    /* border: 3px solid saddlebrown; */
    /* height: 500px; */
    width: 400px;
   
}
.about-right p{
    font-size: 18px;
    color: rgb(71 85 105);
}

.resume{
    padding: 5px 15px;
    background-color: #f7cb45;
    border-radius: 50px;
    color: black;
    /* font-size: 20px; */
    transition: transform .25s linear;
    box-shadow: 3px 3px #282825;
}
.resume:hover{
    transform:translateX(-20px);
    transform:translateY(-2px);
    
}