@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Poppins:wght@400;600;800&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}

.app{
    /* width: 100vw; */
    /* height: 100vh;  */
    overflow: hidden;
    background-color: #f9f5f2;
 } 