.btn-primary{
    background-color: rgb(58, 52, 52);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    /* padding: 15px; */
    font-size: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.btn-primary:hover{
    background-color: white;
    color: rgb(58, 52, 52);
    border: 1px solid rgb(58, 52, 52);
}