.footer{
    width: 100%;
    height: 25vh;
    flex-direction: column;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.footer-link a svg{
    width: 30px;
    height: 30px;
}
.footer-link a svg:hover{
   transform: scale(1.2);
}

